body {
    background-color: black;
    margin: 0;
}
  h1 {
  text-align: center;
  
  background-color: blue;
  color: #000;
  margin-top: 50 ;
  margin-left:25%;
  margin-right: 25%;
  margin-bottom: 100px;
  text-shadow: 2px grey;
  }
.uq {
    font-family: Audiowide, sans-serif;
}
.stage {
height: 50px;
width: 50px;
background-color: rgb(105, 220, 255);
margin: 50px;
animation: moving 2s ease-out 0s infinite alternate;
}

.stage2 {
    height: 50px;
    width: 50px;
    background-color:rgb(46, 144, 173);
    margin: 50px;
    animation: moving 2s ease-out 4s infinite alternate;
}

.stage3 {
    height: 50px;
    width: 50px;
    background-color:rgb(5, 204, 121);
    margin: 50px;
    animation: moving 2s ease-out -1s infinite alternate;
}
@keyframes moving {
	0% {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(70px,0);
	}
    40% {
      transform:translate(105px,0);
    }
	60% {
		transform:translate(140px,0);
	}
    75% {
        transform:translate(170px,0);
    }

    88% {
        transform:translate(187px,0);
    }

	100% {
		transform:translate(200px,0);
    }
}
